.video-background {
    position: relative;
    width: 100%;
    height: 100vh; /* Full viewport height */
    overflow: hidden;
  }
  
  .video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1; /* Place video behind other content */
    transform: translate(-50%, -50%);
  }
  
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centering the content */
    color: white; /* White text color */
    text-align: center; /* Center text alignment */
    z-index: 1; /* Ensure content is above the video */
  }
  
  h1 {
    font-size: 5rem;
  }
  
  h1, p {
    margin: 0;
    padding: 0;
  }
  